@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic&display=swap');

*{
 	font-family: 'Do Hyeon', sans-serif; 
 	
}

.nav, footer{
	font-family: 'Nanum Gothic', sans-serif;
}



#main{

	height: 700px;
}



#header{
	
	height: 30%;
}


#select_box{
	height: 70%;
}





#LocationFilter{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
}

#selection{
	text-align: center;
	padding-bottom: 30px;
}

.loc_btn{
	background-color: orange;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.LocationFilter_RegionNav{
	display: block;
	width: 500px;
	margin: 0 auto;
	background-color: white;
}

.LocationFilter_RegionNav p{
/* 	margin: 0 auto; */
	padding: 20px;
	text-align: center;
	font-size: 2.0em;
	
}

.LocationFilter_RegionButton{
	font-size: 1.5em;
}


.LocationFilter_RegionList{
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	font-size: 15px;
}

.LocationFilter_RegionNav ul li{
	display: inline;
}

#LocationFilter_MetroWrap{
	width: 40%;
	margin: 0 auto;
	border: 1px solid gray;
	display: none;
}

.LocationFilter_MetroList{
	text-align: center;
	padding: 0px;
}

.LocationFilter_MetroList li{
	list-style-type: none;
}


.LocationFilter_MetroButton{
	width: 300px;
	border-radius: 1em;
	border: none;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	
}

#loc_bar{
	padding-top: 20px;
	padding-left: 70px;
	
}



